extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/css/profile.css")
block body
	#title
		h1 Profile
	nav
		.navlink
			a(href="/game") Game
		.navlink
			a(href="/about") About
		.navlink
			a(href="/logout") Log out
	if !player
		h3 No player data found
	else
		section#playerInfo
			h3 Name: #{player.name}
			h3 Plays: #{player.plays}
			h3 Wins: #{player.wins}
			h3 Losses: #{player.losses}
		a#editPlayerBut(class="formSubmit", href="#") Edit Player
		section#editPlayer
			p This will change only the player name that other players see. <br /> The username you sign in with will remain the same.
			form#playerForm(name="playerForm", action="/editPlayer", method="POST")
				label(for="name") Name:
				input#playerName(type="text", name="name", placeholder="#{player.name}")
				input(type="hidden", name="_csrf", value="#{csrfToken}")
				a#playerSubmit(class="formSubmit", href="#") Submit
	#errorMessage
block scripts
	script(src="/assets/src/profile.js")